<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="top-1/4 font-poppins">
      <div class="" >
        <img src="./public/images/Image-4.png" alt="" class="absolute w-screen animate-cloud" />
        <div id="about"></div>
        <div class="absolute w-3/12 mt-[20rem] -left-100 text-white" id="quote">
          <h1 >
            Whether you're here to experience art, explore innovation, or
            embrace your own light
          </h1>
          <p class="underline">— Luminora is your space to shine.</p>
        </div>
        <img
          src="./public/images/Image-5.png"
          alt=""
          class="absolute -left-2/4 z-10 mt-[12.7rem]"
          id="person"
        />
      </div>

      <div class="absolute mt-[11rem] right-[-84rem] text-white text-right z-2">
        <img src="./public/images/Image-10.png" alt="" id="title">
      </div>
      <!-- <h1 class=" font-bold" id="title">Lets Glow with luminora</h1> -->
    </div>
  </body>
</html>
