<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="fixed font-semibold text-white font-poppins w-full p-6 z-50 ">
      <div
        class="flex justify-around items-center py-4 px-6  text-white"
      >
        <a
          href="#"
          class="text-xl font-semibold hover:drop-shadow-[0_0_10px_white] transition duration-300"
        >
          Glow with Luminora.
        </a>
        <div class="flex gap-10 text-gray-300">
          <a
            href="#hero"
            class="hover:text-white hover:drop-shadow-[0_0_8px_white] transition duration-300"
          >
            Home
          </a>
          <a
            href="#about"
            class="hover:text-white hover:drop-shadow-[0_0_8px_white] transition duration-300"
          >
            About
          </a>
          <a
            href="#art"
            class="hover:text-white hover:drop-shadow-[0_0_8px_white] transition duration-300"
          >
            Art
          </a>
        </div>
      </div>

      <div class="relative h-screen">
        <div
          class="absolute left-4 top-1/2 transform -translate-y-1/2 rotate-180 origin-left"
        >
          <p
            class="text-white-50 text-sm tracking-widest [writing-mode:vertical-rl] hover:drop-shadow-[0_0_10px_white] transition duration-300"
          >
            SCROLL DOWN
          </p>
        </div>

        <div class="absolute right-4 top-1/2 transform -translate-y-1/2">
          <p
            class="text-white-50 text-sm tracking-widest [writing-mode:vertical-rl] hover:drop-shadow-[0_0_10px_white] transition duration-300"
          >
            SCROLL DOWN
          </p>
        </div>
      </div>
    </nav>
  </body>
</html>
