<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="font-poppins">
      <img
        src="./public/images/Image-6.png"
        alt=""
        class="absolute top-[89rem] animate-cloud"
        id="art"
      />
      <img
        src="./public/images/Image-7.png"
        alt=""
        class="absolute top-[82rem] z-2"
        id="grass"
      />

      <h1
        class="absolute top-[151rem] text-7xl left-[5rem] text-white w-2/5 font-bold"
        id="awaken"
      >
        Awaken new realms
      </h1>
      <p
        class="absolute top-[151rem] text-white w-1/5 right-20 text-right"
        id="description"
      >
        Luminora is where mystery meets clarity. We believe that the unknown is
        not to be feared, but to be illuminated. Join us as we explore new
        paths, led by light, driven by purpose.
      </p>
    </div>
  </body>
</html>
